# Drizzle
DATABASE_URL='mysql://YOUR_MYSQL_URL_HERE?ssl={"rejectUnauthorized":true}'
DATABASE_AUTH_TOKEN=

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET=""

# Next Auth Discord Provider
AUTH_DISCORD_ID=""
AUTH_DISCORD_SECRET=""

# Next Auth GitHub Provider
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""

DEPLOY_URL="http://localhost:3000"
